/* Custom styles for the button with gradient background */
.btn-custom {
  background: linear-gradient(to right, #3498db, #e74c3c);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Custom styles for the page background */
body.custom-background {
  background-color: #f2f2f2; /* Replace with your desired background color */
}

/* Custom styles for the centered horizontal line */
.centered-line {
  width: 50%; /* Adjust the width of the line as needed */
  margin: 40px auto; /* Adjust the margin to center the line vertically */
  border-top: 1px solid #000; /* Set the color to black */
}

/* Custom styles for centered text */
.centered-text {
  text-align: center;
  margin-top: 80px; /* Adjust the margin to position the text lower */
  font-size: 45px; /* Adjust the font size as needed */
  color: #333; /* Adjust the text color */
}
