/* Custom styles for the button with gradient background */
.btn-custom {
  background: linear-gradient(to right, #3498db, #e74c3c);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Custom styles for the page background */
body {
  background-color: #4B6352; /* Replace with your desired background color */
}
